<a href="https://colab.research.google.com/github/hananeouchaib/Learning-Python-With-Hanane/blob/main/Fonction_Liste_Dictionnaire.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def Somme(x,y) : 
    return x+y

In [2]:
Somme(10,25)

35

In [3]:
# PARFAIT
def Listvalue(L,x) : 
    if x in L : 
        print("%d existe bien dans votre liste." %x)
    else : 
        print(" %d n'existe pas dans votre liste." %x)

In [6]:
# BEAUCOUP DE CODE
L = []
for i in range(1,5) : 
    x = int(input("entrer un élément de la liste : "))
    L.append(x)
print(L)
x=int(input("proposer un nombre dont vous voulez vérifier l'existence : "))
Listvalue(L,x)

entrer un élément de la liste : 1
entrer un élément de la liste : 2
entrer un élément de la liste : 3
entrer un élément de la liste : 4
[1, 2, 3, 4]
proposer un nombre dont vous voulez vérifier l'existence : 5
 5 n'existe pas dans votre liste.

In [8]:
Listvalue([1,2,3,4],5)
Listvalue([1,2,3,4],4)

 5 n'existe pas dans votre liste.
4 existe bien dans votre liste.

In [12]:
def Occurence(L) :
  dic = {}
  les dictionnaires

In [16]:
Occurence([1,1,3,3,4,4,4,10])
L = [1,3,3,4,4,4,10]
L.index(10)

1 2
1 2
3 2
3 2
4 3
4 3
4 3
10 1

6

# **Programme chaine**

In [20]:

def O(S) :
  Occurence = {} 
  for i in S : 
    if i not in Occurence : 
      Occurence[i]=1
    else :
      Occurence[i]+=1
  return Occurence
S="moataazhanaane"
print(O(S))

{'m': 1, 'o': 1, 'a': 6, 't': 1, 'z': 1, 'h': 1, 'n': 2, 'e': 1}

In [21]:
def O(L) :
  Occurence = {} 
  for i in L : 
    if i%2==0 : 
      Occurence[i]="pair"
    else :
      Occurence[i]="impair"
  return Occurence
L=[1,2,3,4]
print(O(L))

{1: 'impair', 2: 'pair', 3: 'impair', 4: 'pair'}

In [24]:
def age(D) :
  ma = {}
  mi = {}
  for key,value in D.items() :
    if value<18 : 
      mi[key] = value
    else : 
      ma[key] = value

  return mi, ma 

d={"hanane" : 23,"moataz" : 22,"karima" : 12}
age(d)

({'karima': 12}, {'hanane': 23, 'moataz': 22})

In [29]:
s = input("saisir une phrase : ")
print(s)
L = s.split()
print(L)
D={}
for i in L : 
  D[i] = len(i)
print(D)

saisir une phrase : hanane est belle
hanane est belle
['hanane', 'est', 'belle']
{'hanane': 6, 'est': 3, 'belle': 5}

In [1]:
L=["name","email","phone"]
M=["hanane","hjkdfhqs@.jdgqsjh","0675645546"]
D={}
for i in range(0,len(L)):
    D[L[i]]= M[i]
    
    
print(D)

{'name': 'hanane', 'email': 'hjkdfhqs@.jdgqsjh', 'phone': '0675645546'}

In [7]:
D={"hp":11,"acer":7,"lenovo":17,"dell":23}
M={"iphone":11,"samsung":7,"other":17}
def Concat(A,B) : 
  B.update(A)
  return B

Concat(D,M)

{'iphone': 11,
 'samsung': 7,
 'other': 17,
 'hp': 11,
 'acer': 7,
 'lenovo': 17,
 'dell': 23}